if SHIELD_NERDBOARD_LEFT || SHIELD_NERDBOARD_RIGHT

config ZMK_KEYBOARD_NAME
    default "nerdboard"

config ZMK_SPLIT
    default y

endif

if SHIELD_NERDBOARD_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
