#include "nerdboard.overlay"

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-remap;
        com-invdir;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        page-offset = <0>;
        segment-offset = <0>;
        display-offset = <0>;
    };
};

//&kscan0 {
//    row-gpios
//        = <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F4
//        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F5
//        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F6
//        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F7
//        ;
//
//    col-gpios
//        = <&pro_micro 5 GPIO_ACTIVE_LOW> // C6
//        , <&pro_micro 6 GPIO_ACTIVE_LOW> // D7
//        , <&pro_micro 7 GPIO_ACTIVE_LOW> // E6
//        , <&pro_micro 8 GPIO_ACTIVE_LOW> // B4
//        ;
//};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    // Rows act as the driven outputs
    row-gpios
        = <&pro_micro 21 GPIO_ACTIVE_LOW> // F4
        , <&pro_micro 20 GPIO_ACTIVE_LOW> // F5
        , <&pro_micro 19 GPIO_ACTIVE_LOW> // F6
        , <&pro_micro 18 GPIO_ACTIVE_LOW> // F7
        ;

    // Columns act as the inputs with internal pull-down resistors
    col-gpios
        = <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // C6
        , <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // D7
        , <&pro_micro 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // E6
        , <&pro_micro 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // B4
        ;
};
