#include "nerdboard.overlay"
#include <input/processors.dtsi>

&default_transform {
    col-offset = <4>;
};

&kscan0 {
    row-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;

    col-gpios
        = <&pro_micro 5 GPIO_ACTIVE_LOW>
        , <&pro_micro 6 GPIO_ACTIVE_LOW>
        , <&pro_micro 7 GPIO_ACTIVE_LOW>
        , <&pro_micro 8 GPIO_ACTIVE_LOW>
        ;
};

/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        drag_scroll {
            layers = <6>; // _DRGSCRL
            input-processors = <&zip_xy_to_scroll_mapper>;
        };

        snipe {
            layers = <5>; // _SNIPE
            input-processors = <&zip_xy_scaler 1 4>;
        };
    };
};

&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";
    cs-gpios = <&pro_micro 10 GPIO_ACTIVE_LOW>;

    trackball: pmw3389@0 {
        compatible = "pixart,pmw3389";
        reg = <0>;
        spi-max-frequency = <2000000>;
        //irq-gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        resolution = <800>;
    };
};

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,  /* Pin 006 (SDA) */
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;  /* Pin 008 (SCL) */
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3d>;                // 0x3c is the standard I2C address for these OLEDs
        width = <128>;               // Change to your screen's width
        height = <64>;               // Change to 64 if using a 128x64 display
        segment-remap;
        com-invdir;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;      // Use 63 for 128x64 displays
        segment-offset = <0>;
        com-sequential;
        prechargep = <0x22>;
    };
};
