#include "nerdboard.overlay"

&kscan0 {
    row-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F4
        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F5
        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F6
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F7
        ;

    col-gpios
        = <&pro_micro 5 GPIO_ACTIVE_LOW> // C6
        , <&pro_micro 6 GPIO_ACTIVE_LOW> // D7
        , <&pro_micro 7 GPIO_ACTIVE_LOW> // E6
        , <&pro_micro 8 GPIO_ACTIVE_LOW> // B4
        ;
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-remap;
        com-invdir;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-offset = <0>;
        com-sequential;
        prechargep = <0x22>;
    };
};
