#include "nerdboard.overlay"
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// Include the official ZMK input transform definitions
#include <dt-bindings/zmk/input_transform.h>

&default_transform {
    col-offset = <4>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    row-gpios
        = <&pro_micro  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;

    col-gpios
        = <&pro_micro 5 GPIO_ACTIVE_LOW>
        , <&pro_micro 6 GPIO_ACTIVE_LOW>
        , <&pro_micro 7 GPIO_ACTIVE_LOW>
        , <&pro_micro 8 GPIO_ACTIVE_LOW>
        ;
};

&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";
    cs-gpios = <&pro_micro 10 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        compatible = "pixart,pmw3360";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <2000000>;

        irq-gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        cpi = <400>;
        angle-tune = <(-15)>;
        invert-x;
    };
};

// Keep in sync with layer indexes in nerdboard.keymap
#define _SNIPE   6
#define _DRGSCRL 7

/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        //input-processors = <&zip_xy_transform ()>;

        snipe {
            layers = <_SNIPE>;
            input-processors = <
                //&zip_xy_transform ()
                &zip_xy_scaler 1 4
            >;
        };

        scroll {
            layers = <_DRGSCRL>;
            input-processors = <
                &zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)
                &zip_xy_to_scroll_mapper
                &zip_scroll_scaler 1 16
            >;
        };
    };
};

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&vbatt {
    io-channels = <&adc 7>; // ADC channel 7 // P0.31 // pro micro 21 // F4
    output-ohms = <1000000>;
    full-ohms = <2000000>;
};

&i2c1 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-remap;
        com-invdir;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        page-offset = <0>;
        segment-offset = <0>;
        display-offset = <0>;
    };
};
